{% extends 'movies/base.html' %}
{% block body %}
<h1>{{ movie.title }}</h1>
<img src="{{ movie.poster_url }}" alt="" style="width:25%">
<p>{{ movie.title_en }}, {{ movie.open_date }}</p>
<hr>
<h3>평점 <b>{{ movie.score }}</b></h3>
<p>개요 <b>{{ movie.genre }}</b></p>
<p>등급 <b>{{ movie.watch_grade }}</b></p>
<p>흥행 누적관객 <b>{{ movie.audience }}</b></p>
<hr>
<h2>줄거리</h2>
<p>{{ movie.description }}</p>
<button><a href="{% url 'movies:index' %}" style="text-decoration: none;">목록</a></button>
<button><a href="{% url 'movies:update' movie.pk %}" style="text-decoration: none;">수정</a></button>
<form action="{% url 'movies:delete' movie.pk %}" method="POST" style="display: inline;">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<hr>
<form action="{% url 'movies:review_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {{ review_form.as_p}}
  <input type="submit" value="댓글 작성">
</form>
{% for review in movie.review_set.all %}
<p><b>{{ review.score }}</b> "{{ review.content }}"</p>
{% empty %}
<p>작성된 댓글이 없습니다.</p>
{% endfor %}
{% endblock %}